.fundo_body{
    background-color: rgb(85, 85, 85);
}

.fundo_forms{
    
    background-color: bisque;
    border: 1px solid;
}

/* PARTE DA KYARA*/
.container {
    width: 60%;
    height: auto;
    background-color: rgb(255, 209, 149);
    margin-top: 6rem;
    margin-bottom: 3rem;
    padding-bottom: .5rem;
    border-radius: 30px;
    padding-left: 40px;
    
}

#logo-cadastro {
    width: 40%;
    height: auto;
    margin-left: 375px;
}

.texto {
    text-align: center;
    margin-top: 3px;
    font-size: 28px;
    font-weight: bold;
    color: white;
    
}

.idade, .email, .nome, .nickname, .senha, .confirmar-senha, .campo{
    margin-top: 10px;
    font-size: 18px;
    color: white;
}

.idade {
    width: 10%;
}

.email {
    width: 75%;
}

.form-confirmar {
    width: 100%;
    background-color: rgb(82, 80, 80);
    border-radius: 10px; 
    color: white;

}


.form-senha {
    border-radius: 10px; 
    color: white;
    width: 80%;
    height: 70px;
}

.form-telefone {
    border-radius: 10px; 
    color: white;
    width: 75.3%;
    height: 70px;
}


.form-nome {
    width: 100%;
    background-color: rgb(82, 80, 80);
    border-radius: 10px; 
    color: white;
}

.form-email {
    width: 100%;
    background-color: rgb(82, 80, 80);
    border-radius: 10px; 
    color: white;
}

.botão {
    background-color: #0078F2;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2rem 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.btn-cadastro {
    color: white;
    text-decoration: none;
}


@media screen and (max-width: 1200px) {
    #mascote {
        display: flex;
        margin-left: auto;
        margin-right: 1rem;
        margin-top: 0rem;
        width: 60px;
        height: auto;
    
    }

    .container {
        width: 80%;
        height: auto;
        background-color: rgb(0, 0, 0);
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding-bottom: .5rem;
        border-radius: 30px;
        padding-left: 40px;
        
    }
    
    #logo-cadastro {
        width: 45%;
        height: auto;
        margin-top: 10px;
    }

    .nickname{
        margin-left: 1rem;
    }
}

.regua {
    display:block; padding:0; margin: 10px 0; width:40%; height:1px; background-color:#000000; margin-left: 30%;
}

.login-block {
    margin: 30px auto;
    min-height: 93.6vh
}

.login-block .auth-box {
    margin: 20px auto 0;
    max-width: 450px !important
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
    box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
        background-color: #fff;
}

.card .card-block {
    padding: 1.25rem
}

.f-80 {
    font-size: 80px
}

.form-group {
    margin-bottom: 1.25em
}

.form-material .form-control {
    display: inline-block;
    height: 43px;
    width: 100%;
    border: none;
    border-radius: 0;
    font-size: 16px;
    font-weight: 400;
    padding: 9px;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc
}

.btn-md {
    padding: 10px 16px;
    font-size: 15px;
    line-height: 23px
}

.btn-primary {
    background-color: #4099ff;
    border-color: #4099ff;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all ease-in .3s;
    transition: all ease-in .3s
}

.btn {
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 19px;
    cursor: pointer
}

.m-b-20 {
    margin-bottom: 20px
}

.btn-md {
    padding: 10px 16px;
    font-size: 15px;
    line-height: 23px
}

.heading{

  font-size: 21px;

}

#infoMessage p{

      color: red !important;
}


.btn-google {
        color: #545454;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 1px #ddd;
}


.or-container {
    align-items: center;
    color: #ccc;
    display: flex;
    margin: 25px 0;
}

.line-separator {
    background-color: #ccc;
    flex-grow: 5;
    height: 1px;
}

.or-label {
    flex-grow: 1;
    margin: 0 15px;
    text-align: center;
}

.centralizado {
    margin-left: 52px;
}