@import url('https://fonts.googleapis.com/css2?family=Braah+One&family=Mooli&family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200;1,400&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&display=swap');

  
  /* Estilos para centralizar as imagens horizontalmente */
  div {
    text-align: center;
  }

  /* Estilos para adicionar algum espaço entre as imagens */
  div + div {
    margin-top: 10px;
  }

.font-loja{
  font-family: 'oswald';
}

body {
  overflow-x: hidden;
  transition: background-color .5s;
}


.btn {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  background: #040f16;
  color: rgb(0, 238, 255);
}

.btn:hover {
  box-shadow: 0 0 20px 0px #2e2e2e3a;
}

.btn .icon {
  position: absolute;
  height: 52px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.btn .text {
  transform: translateX(55px);
}

.btn:hover .icon {
  width: 175px;
}

.btn:hover .text {
  transition: all 0.5s;
  opacity: 0;
}

.btn:focus {
  outline: none;
}

.btn:active .icon {
  transform: scale(0.85);
}


/* navbar principal */
.navbar {
  position: fixed;
  height: 80px; /* Defina a altura desejada */
  padding: 0 0px; /* Adicione espaçamento interno desejado */
}

/* Estilo para ajustar o tamanho do logotipo central */
.img-logo-central {
  height: 100%;
  width: 75%;
  margin-left: -0%;
  max-height: 100%; /* Defina a altura máxima do logotipo */
}

/* Estilo para ajustar o tamanho do ícone de Contato */
.icon-btn {
  width: 30px; /* Defina a largura desejada para o ícone de Contato */
  height: 30px; /* Defina a altura desejada para o ícone de Contato */
}

/* Estilo para ajustar o tamanho do botão de pesquisa */
#searchQuerySubmit {
  width: 80px; /* Defina a largura desejada para o botão de pesquisa */
  height: 40px; /* Defina a altura desejada para o botão de pesquisa */
}

/* Estilo para ajustar o tamanho do modal */
.modal-dialog {
  max-width: 90%; /* Defina a largura máxima desejada para o modal */
}

/* Estilo para ajustar o tamanho do iframe dentro do modal */
.iframe-login {
  width: 100%; /* Preencher o tamanho do iframe no modal */
  height: 500px; /* Defina a altura desejada para o iframe */
}



.nav2 {
  margin-top: -1px;
  * {
    margin: 0;
    padding: 0
  }
}

.box_externo {
  width: 1000px;
  height: 800px;
}

.topo {
  width: 100%;
  height: 200px
}

.menu {
  height: 70px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.ul {
  list-style: none;
}

.li {
  float: left;
  padding: 20px 20px;
}

.li:hover {
  background-color: orange;
  color: #FFF
}

.corpo {
  width: 100%;
  height: 500px
}

.rodape {
  width: 100%;
  height: 50px
}

h2 {
  text-align: center;
}

/* PARTE DA ONE PAGE DO SITE*/
.toda-flex {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.bg-branco {
  background-color: white;
  color: black;
}

.bg-cinza {
  background-color: rgb(128, 128, 128);
  color: white;
}

.toda-flex img {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.linhas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
  margin-bottom: 50px;
}

.con-loja {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 16px;
  border: 5px solid black;
  border-radius: 10px;
  text-align: center;
}



.btn-venda {
  background-color: rgb(0, 223, 0);
  width: 100px;
  margin-left: 125px;
  border-radius: 10px;
}

/* vídeo fundo */



.video1 {
  height: 75vh;
  width: 98.7vw;
  object-fit: cover;
  padding-bottom: 0;
}

.p-title2 {
  font-size: 4rem;
  color: rgb(255, 60, 0);
  font-family: 'Kanit', sans-serif;
}

.p-title {
  font-size: 4rem;
  margin-top: -110px;
  color: rgb(255, 255, 255);
  font-family: 'Kanit', sans-serif;
}

/* @media (max-width: 800px) {
  .footer-col {
      width: 50%;
      margin-bottom: 30px;
  }
}

@media (max-width:600px) {
  .footer-col {
      width: 100%;
  }
} */

.icone1 {
  fill: rgb(255, 60, 0); /* Laranja mais escuro */
}

.icone2 {
  fill: rgb(255, 60, 0); /* Laranja mais escuro */
}

/* poupup inicio */

.iframe-login{
  height: 480px;
}

.btn-close{
  color: black;
}

.modal-content{
  background-color: transparent;
  border: transparent;
}

/* fim poupup */

/* icon-btn */

.icon-btn {
  height: 30px;
  width: 30px;
  margin-left: -600%;
}

/* tab */

.html {
  background-color: #ccc;
  /*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAACVBMVEUAAAAAAAAAAACDY+nAAAAAA3RSTlMmDQBzGIDBAAAAG0lEQVR42uXIIQEAAADCMHj/0NdkQMws0HEeAqvwAUGJthrXAAAAAElFTkSuQmCC);*/
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

.tabList {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.tabList a {
  display: block;
  float: left;
  border: 1px solid #000;
  padding: .25em 2em;
  margin: 0 0 -1px .25em;
  border-radius: .5em .5em 0 0;
  background-color: #aaa;
}

.tabList a:link, .tabList a:visited, .tabList a:hover, .tabList a:focus, .tabList a:active {
  text-decoration: none;
  color: #000;
}

.tabList a:hover, .tabList a:focus {
  background-color: #ccc;
}

.tabList a.selected {
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

.tabPanels div {
  clear: left;
  margin: 0 auto;
  padding: 1em 2em;
  border: 1px solid #000;
  border-radius: .25em;
  background-color: #fff;
  display: none;
}

.tabPanels div.selected, div[aria-hidden=false] {
  display: block;
}

.hide, div[aria-hidden=true] {
  display: none;
}

/* barra de pesquisa */

body {
  font-family: 'Roboto', Arial, sans-serif;
}

.wrapper {
  width: 90%;
  max-width: 31.25rem;
  margin: 6rem auto;
}

.searchBar {
  width: 115%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -3%;
}

#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

/* texto dos icons da navbar1 */
.cor-icon {
  font-family: 'Playpen Sans';
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.svg-navbar {
  width: 50px; /* Defina a largura desejada para todas as imagens SVG */
  height: 50px; /* Defina a altura desejada para todas as imagens SVG */
  margin-left: 6rem;
  margin-top: -3px;
  }

  .svg-navbar-c {
    width: 40px; /* Defina a largura desejada para todas as imagens SVG */
    height: 40px; /* Defina a altura desejada para todas as imagens SVG */
    margin-left: 4rem;
    margin-top: 15px;
    }

    .svg-navbar-cc {
      width: 40px; /* Defina a largura desejada para todas as imagens SVG */
      height: 40px; /* Defina a altura desejada para todas as imagens SVG */
      margin-left: 2rem;
      margin-right: 2rem;
      margin-top: 8px;
      }

/* teste pra tab */
      /* #video-container {
        position: relative;
      }
      
      video {
        width: 100%;
      }
      
      #tab-container {
        position: absolute;
        top: 5; 
        left: 10px;
        list-style: none;
      }
      
      .tab {
        display: inline-block;
        padding: 10px 20px;
        background-color: #333;
        color: #fff;
        cursor: pointer;
      } */