form {
    margin-left: -450px;
}

#logo-navbar {

}

#logo-navbar .icon-menu {
    /* position: absolute; */
    /* height: 40px; */
    /* width: 70px; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* transition: all 0.5s; */ */
}

#logo-navbar:hover img {
    opacity: 0;
}


.btnMenu {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    /* display: flex; */
    /* align-items: center; */
    background: #040f16;
    color: #f5f5f5;
  }
  
  .btnMenu:hover {
    box-shadow: 0 0 20px 0px #2e2e2e3a;
  }
  
  .btnMenu .icon {
    /* position: absolute; */
    /* height: 40px; */
    /* width: 70px; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* transition: all 0.5s; */
  }
  
  .btnMenu .text {
    transform: translateX(55px);
  }
  
  .btnMenu:hover .icon {
    width: 175px;
  }
  
  .btnMenu:hover .text {
    transition: all 0.5s;
    opacity: 0;
  }
  
  .btnMenu:focus {
    outline: none;
  }
  
  .btnMenu:active .icon {
    transform: scale(0.85);
  }